$color-primary : red;

@function divide($a,$b){
    @return $a/$b;
}

%btn-placeholder{
    padding: 10px;
}
@mixin clearfix {
    &::after{
        content : "";
         display: table;
         clear: both;


    }
}

@mixin style-link-text($color){
    text-decoration: none;
    color : $color;


}


nav{
    @extend %btn-placeholder;
    margin  : 30px;
    background-color: $color-primary;
    @include clearfix;
    @include style-link-text($color-primary)
}